@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 2rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: pointer;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

.hold {
  border: 5px solid rgb(231, 229, 101);
  opacity: 0.5;
}

.hide {
  display: none;
}

.hovered {
  border-right: 2px solid #91ed8e;
  border-left: 2px solid #91ed8e;
  background-color: rgba(187, 184, 184, 0.466);
  border-radius: 20px;

  transition: background-color, border-radius 0.4s ease-in;
}

.header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 20px;
}
.header a {
  text-decoration: none;
  color: #000;
  text-shadow: 1px 1px 0px #fff;
}
.header a:hover {
  color: rgb(161, 147, 147);
}
.header {
  width: 80%;
  margin-bottom: 20px;
}
.header .active {
  color: #994a88;
}
